In [12]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [23]:
dat=pd.read_csv("canada_per_capita_income.csv")

In [24]:
dat

    year    per_capita
0   1970   3399.299037
1   1971   3768.297935
2   1972   4251.175484
3   1973   4804.463248
4   1974   5576.514583
5   1975   5998.144346
6   1976   7062.131392
7   1977   7100.126170
8   1978   7247.967035
9   1979   7602.912681
10  1980   8355.968120
11  1981   9434.390652
12  1982   9619.438377
13  1983  10416.536590
14  1984  10790.328720
15  1985  11018.955850
16  1986  11482.891530
17  1987  12974.806620
18  1988  15080.283450
19  1989  16426.725480
20  1990  16838.673200
21  1991  17266.097690
22  1992  16412.083090
23  1993  15875.586730
24  1994  15755.820270
25  1995  16369.317250
26  1996  16699.826680
27  1997  17310.757750
28  1998  16622.671870
29  1999  17581.024140
30  2000  18987.382410
31  2001  18601.397240
32  2002  19232.175560
33  2003  22739.426280
34  2004  25719.147150
35  2005  29198.055690
36  2006  32738.262900
37  2007  36144.481220
38  2008  37446.486090
39  2009  32755.176820
40  2010  38420.522890
41  2011  42334.711210
42  2012  42665.255970
43  2013  42676.468370
44  2014  41039.893600
45  2015  35175.188980
46  2016  34229.193630

In [27]:
test=dat.year
income=dat.per_capita

In [28]:
cdf.head

<bound method NDFrame.head of     year  per capita income (US$)
0   1970              3399.299037
1   1971              3768.297935
2   1972              4251.175484
3   1973              4804.463248
4   1974              5576.514583
5   1975              5998.144346
6   1976              7062.131392
7   1977              7100.126170
8   1978              7247.967035
9   1979              7602.912681
10  1980              8355.968120
11  1981              9434.390652
12  1982              9619.438377
13  1983             10416.536590
14  1984             10790.328720
15  1985             11018.955850
16  1986             11482.891530
17  1987             12974.806620
18  1988             15080.283450
19  1989             16426.725480
20  1990             16838.673200
21  1991             17266.097690
22  1992             16412.083090
23  1993             15875.586730
24  1994             15755.820270
25  1995             16369.317250
26  1996             16699.826680
27  1997             17310.757750
28  1998             16622.671870
29  1999             17581.024140
30  2000             18987.382410
31  2001             18601.397240
32  2002             19232.175560
33  2003             22739.426280
34  2004             25719.147150
35  2005             29198.055690
36  2006             32738.262900
37  2007             36144.481220
38  2008             37446.486090
39  2009             32755.176820
40  2010             38420.522890
41  2011             42334.711210
42  2012             42665.255970
43  2013             42676.468370
44  2014             41039.893600
45  2015             35175.188980
46  2016             34229.193630>

In [29]:
cdf =dat[['test','income']]
msk = np.random.rand(len(dat)) < 0.8
train = cdf[msk]
test = cdf[~msk]

KeyError: "None of [Index(['test', 'income'], dtype='object')] are in the [columns]"

In [18]:
tts=np.random.rand(len(dat))<0.75
train=[tts]
test=[~tts]

In [19]:
reg=linear_model.LinearRegression()
tx=np.asanyarray(train[['year']])
ty=np.asanyarray(train[['per capita income (US$)']])
reg.fit(tx,ty)

TypeError: list indices must be integers or slices, not list